.references{
  text-align: left;
  margin-top: 6em;
  
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5em;
    text-align: center;
}

.centered {
  margin: 1em;
  text-align: center;
}

h1 {
  margin-top: 1em;
  padding-top: 1em;
  text-align: left;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h3 {
  margin-top: 1em;
  padding-top: 1em;
}


a {
    color: #6320EE;
}

a:hover {
  color: #EE4266;
}

form {
  text-align: center;
}

ul {
  text-align: left;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
}
.homepage {
  margin: 0 auto;
  max-width: 50em;
  text-align: center;
  line-height: 1.5em;
}

.btn {
  margin-top: 2em;
}

.about {
  max-width: 40em;
  margin: auto;
  padding: 2rem;
  text-align: center;
  line-height: 1.75em;
}

.hanging {
  padding-left: 2.5em; 
  text-indent: -2.5em;
}

#quiz-title {
  text-align: center;
}

#heading {
  text-align: left;
}

