body {
    font-family:Arial, Helvetica, sans-serif;;
    color: #555;
}

p {
  margin: 1em;
}

h1 {
    margin-top: 1em;
  padding-top: 1em;
 
  font-family: Arial, Helvetica, sans-serif; color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

h3 {
  margin-top: 1em;
  padding-top: 1em;
  color: #333;
}


a {
    color: green;
}

strong{
  color: #009dff;
}


.homepage {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 50em;
  text-align: center;
  line-height: 1.5em;
  color: #555;
}




